

.card {
    width: 300px;
    height: 350px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.04);

        .imagen-proyecto {
            filter: blur(1.3px)
        }

       main > .descripcion-container > .descripcion {
            display: block;
            transform: translate(0, -50px);
            opacity: 1;
        }
    }
   

    .imagen-proyecto {
        position: absolute;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

  
    header{
        width: 100%;
        height: 50px;
        padding-top: 20px;
        
        h3 {
            font-size: 30px;
            text-align: center;
            text-shadow: 2px 1px 5px black;
            color: rgb(192, 192, 192);
        }

        
    }

    main{
        position: relative;
        height: 68%;
        
        .descripcion-container {
            position: relative;
            height: 85%;
            width: 100%;
            padding: 15px;
            overflow: hidden;
            
            
            .descripcion{
                // text-shadow: 1px 1px 5px black;
                // background: green;
                // font-weight: bold;
                font-size: 20px;
                position: absolute;
                bottom: 0;
                color: black;
                transform: translate(0, 40px);
                opacity: 0;
                transition: 0.2s opacity,
                             0.3s transform;
            }
        }
    }

    .container-logos{
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: 0;
        width: 100%;
        height: 38px;
        margin-bottom: 10px; 
        padding-right: 10px;
        column-gap: 10px;

        .tecnologia {
            width: 40px;
            height: 40px;
            position: relative;

            &:hover{
                span {
                    opacity: 1;
                }
            }

            span {
                position: absolute;
                opacity: 0;
                background-color: black;
                color: white;
                padding: 5px;
                font-size: 15px;
                top: 0;
                border-radius: 3px;
                // transform: translate(-12px, -33px);
                transform: translate(0, -33px);
                transition:  opacity 0.2s;


                &::before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    bottom: 0;
                    transform: translate(50%, 20%) rotate(45deg); 
                    z-index: -1;
                    background-color: black;
                    border-radius: 2px;
                }

            }
        }

    }


}

